.contacto {
    @include margen-seccion;

    .imgContainer {
        img {
            max-height: 40rem;
            border-radius: 0.5rem;
        }
    }

    h2 {
        font-size: $font-size-md;
    }

    .botonContacto {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}