.contacto {
    @include margen-seccion;

    @media (max-width: 992px) {
        @include margen-seccion-movile;
    }

    .imgContainer {
        img {
            max-height: 40rem;
            border-radius: 0.5rem;
        }
    }

    h2 {
        font-size: $font-size-md;
    }

    form{
        .botonContacto {
            padding-left: 5rem;
            padding-right: 5rem;
        }

        @media (max-width: 992px) {
            @include margen-seccion-movile;
        }
    }

   
}