nav {
  background-color: $color-black;

  .navbar-toggler-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(15deg) brightness(1000%);
  }


  .logo {
    width: 8rem;
  }

  .nav-link {
    color: $color-white;

    &:hover {
      color: $color-white;
      font-weight: 600;
    }
  }

  .userBtn,
  .cartBtn {
    text-decoration: none;
    cursor: pointer;
  }

  .numerito {
    color: $color-white;
    font-size: 1rem;
  }
}